<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link rel="stylesheet" href="./style/hero.css" />
  </head>
  <body>
    <div class="hero">
      <div class="sec">
        <div class="sec-img">
          <img src="./images/store.png" alt="" />
        </div>
        <h1 class="sec-title">فرۆشتن</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/ex.png" alt="" />
        </div>
        <h1 class="sec-title">بەسەرچوون</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/drug.png" alt="" />
        </div>
        <h1 class="sec-title">زیادکردنی دەرمان</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/coin.png" alt="" />
        </div>
        <h1 class="sec-title">قازانجی مانگانە</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/sold.png" alt="" />
        </div>
        <h1 class="sec-title">فرۆشراو</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/loan.png" alt="" />
        </div>
        <h1 class="sec-title">قەرزەکان</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/store.png" alt="" />
        </div>
        <h1 class="sec-title">فرۆشتن</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/store.png" alt="" />
        </div>
        <h1 class="sec-title">فرۆشتن</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/store.png" alt="" />
        </div>
        <h1 class="sec-title">فرۆشتن</h1>
      </div>
      <div class="sec">
        <div class="sec-img">
          <img src="./images/store.png" alt="" />
        </div>
        <h1 class="sec-title">فرۆشتن</h1>
      </div>
    </div>
  </body>
</html>
